body {
	padding: 0;
	margin: 0;
	background-color: #C4C4C4;
}

* {
	box-sizing: border-box;
}

button {
	background-color: #E4244F;
	outline: none;
	border: 1px solid #E4244F;
	border-radius: 2px;
	padding: 5px;
	color: #fff;
	font-size: 15px;
	transition: 0.3s;
	&:hover {
		background-color: #fff;
		color: #E4244F;
		border-color: #E4244F;
	}
}

.board {
	background-color: #282923;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	h1 {
		color: #E4244F;
		margin: 0;
		padding: 20px;
	}
	.column-container {
		width: 50%;
		margin: 0 auto;
		.column {
			margin: 20px 5px 10px 0;
			float: left;
			width: calc(33.33% - 5px);
			background-color: #282923;
			border-radius: 3px;
			position: relative;
			min-height: 150px;
			padding: 10px 0;
			.column-card-list {
				padding: 20px;
			.btn-delete {
				position: absolute;
				right: 0;
				top: 0;
				padding: 2px;
			}
			h2 {
				font-size: 18px;
				margin: 0 auto;
				width: 70%;
				color: #fff;
				margin-top: 0;
				padding-top: 0;
			}
			ul {
				list-style-type: none;
				padding: 0;
			}
			.card {
				width: 70%;
				margin: 7px auto;
				background-color: #fff;
				position: relative;
				padding: 13px 5px;
				border-radius: 2px;
				transition: 0.3s;
				&:hover {
					transform: scale(1.1);
				}
				p {
					margin: 0;
				}
				.btn-delete {
					position: absolute;
					right: 0;
					top: 0;
					font-size: 10px;
					height: 13px;
					width: auto;
					padding: 2px;
				}
			}
		}
	}
}